<manifest xmlns:tools="http://schemas.android.com/tools">

    <!-- WearUtils package is for both Android phones and Wear device, which only need MinSDK = 23.
        Ignore MinSDK warning, wear part will not be used on phones -->
    <uses-sdk tools:overrideLibrary="android.support.wear" />
</manifest>
